/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo {
    background-color: #47486D;
}

.logo a {
    text-decoration: none;
    color: #fff;
    transition-duration: 1s;
}

.logo a:hover {
    color: #9B9DF4;
    transition-duration: 0.5s;
}

.btn:hover{
    color: orange;
}



