<h2>Anime information</h2>
<hr>

<form class="example-form">

    <div>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 1000px;">
        <mat-label>Cover URL</mat-label>
        <input matInput placeholder="Ex. https://myanimelist.net/anime/1735/Naruto__Shippuuden">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 1000px;">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Naruto Shipudden">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gender</mat-label>
        <input matInput placeholder="Ex. Action">
        </mat-form-field>
  
        <mat-form-field class="marginl-10" appearance="fill">
            <mat-label>Release Year</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="2001">2001</mat-option>
              <mat-option value="2002">2002</mat-option>
              <mat-option value="2003">2003</mat-option>
              <mat-option value="2004">2004</mat-option>
              <mat-option value="2005">2005</mat-option>
              <mat-option value="2006">2006</mat-option>
              <mat-option value="2007">2007</mat-option>
              <mat-option value="2008">2008</mat-option>
              <mat-option value="2009">2009</mat-option>
              <mat-option value="2010">2010</mat-option>
              <mat-option value="2011">2011</mat-option>
              <mat-option value="2012">2012</mat-option>
              <mat-option value="2013">2013</mat-option>
              <mat-option value="2014">2014</mat-option>
              <mat-option value="2015">2015</mat-option>
              <mat-option value="2016">2016</mat-option>
              <mat-option value="2017">2017</mat-option>
              <mat-option value="2018">2018</mat-option>
              <mat-option value="2019">2019</mat-option>
              <mat-option value="2020">2020</mat-option>
              <mat-option value="2021">2021</mat-option>
              <mat-option value="2022">2022</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div>    
        <mat-form-field class="example-full-width" appearance="fill" style="width: 1000px;">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex. After years training with a legendary ninja, Naruto returns to the Hidden Village of Leaf"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="Watching">Watching</mat-option>
            <mat-option value="Finished">Finisehd</mat-option>
            <mat-option value="To watch">To watch</mat-option>
        </mat-select>
        </mat-form-field>
    
        <mat-form-field class="example-full-width marginl-10" appearance="fill">
        <mat-label>Finish Date</mat-label>
        <input type="date" matInput>
        </mat-form-field>
    </div>

    <a href="#"><button class="btn btn-primary">Save</button></a>
    <a href='#'><button class="btn btn-danger marginl-10">Cancel</button></a>

</form>