/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
    text-decoration: none;
}

#insert-anime{
    left: 94%;
    font-size: 40px; width: 60px;
}

.teste{
    background-color: #47486D;
}

.teste a{
    color: #fff;
    transition-duration: 1s;
}

.teste a:hover{
    color: #9B9DF4;
    transition-duration: 0.5s;
}